body {
	color: white;
	background-color: #848383;
	background-position: center;
	font-family: Georgia, Times, serif;
	font-weight: normal;
	font-size: large;
	line-height: 1.4em;
	margin: 0px;
}

#headerdiv {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times,
		"Times New Roman", serif;
	background-color: #5F5C5C;
	position: relative;
	visibility: visible;
	color: #F8F7F2;
	font-size: 30px;
	clip: rect(0px, auto, auto, auto);
	text-align: left;
	font-style: normal;
	font-weight: bold;
	text-decoration: blink;
	text-indent: 10%;
	height: 20%;
	width: 100%;
	float: left;
	line-height: normal;
	font-variant: normal;
}

.label-control {
	position: relative;
	text-align: center;
	color: white;
}

.dropdown-control {
	text-align: left;
	font-family: inherit; font-weight : inherit; font-size : inherit;
	color: #555555;
	height: 30px;
	width: 100%;
	position: relative;
	padding-right: 0%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 3px;
	text-indent: 0.01px; /*In Firefox*/
	text-overflow: '';
	font-weight: inherit;
	font-size: inherit; /*In Firefox*/
}

.btn {
	height: 40px;
	padding: 5px 10px;
	margin-bottom: 0;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 3px;
	position: relative;
}

.btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	height:44px; 
	width:40%;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default
	{
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}

.textbox-control {
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit; line-height : 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	line-height: 1.428571429;
}

.textbox-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(102, 175, 233, 0.6);
}
/* TABLES */
table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
	font-weight: normal;
}

tr>td:first-child,tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child,tr>th:last-child {
	padding-right: 1.25em;
}

td,th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff),
		color-stop(1, #eaeaea));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= '#ffffff',
		EndColorStr= '#eaeaea');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link,th a:visited {
	color: #666666;
}

th a:hover,th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background:  #777373;
}

.even {
	background:  #777373;
}

.odd:hover,.even:hover {
	background: #9C9898;
}

/* th:hover,tr:hover { */
/* 	background: #E1F2B6; */
/* } */
.error textbox-control,.error select,.error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error textbox-control:focus,.error select:focus,.error textarea:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

inactive {
	background-color: #FBFBEF;
}

active {
	background-color: #48802C;
}
