# .gitignore for Grails 1.2 and 1.3

# web application files
i2iAdminServer/web-app/WEB-INF/classes

# default HSQL database files for production mode
i2iAdminServer/prodDb.*

# general HSQL database files
i2iAdminServer/*Db.properties
i2iAdminServer/*Db.script

# logs
i2iAdminServer/stacktrace.log
i2iAdminServer/test/reports
i2iAdminServer/logs

# project release file
i2iAdminServer/*.war

# plugin release files
i2iAdminServer/*.zip
i2iAdminServer/plugin.xml

# older plugin install locations
i2iAdminServer/plugins
i2iAdminServer/web-app/plugins

# "temporary" build files
i2iAdminServer/target
i2iAdminServer/target-eclipse
